/** base-font, font-size and font-color **/

body {
  font-size:16px;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(56,56,56);
}

header.mobile {
  display: none;
}

/** PC header & navigation section **/

header.pc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 4rem;
  margin: 0;
  padding: 0 1.5rem;
}

.menu {
  margin: 0;
  padding: 0;
}

.menu a {
  font-size: 1rem;
  margin: 0 0 0 1rem;
  padding: 0;
}

.menu a:link, .menu a:visited, .menu a:active {
  color: rgb(56,56,56);
  opacity: .9;
  text-decoration: none;
}

span strong {
  font-weight: 700;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

.logo img {
  height: 2rem;
  width: auto;
  margin: 0;
  padding: 0;
}

.logo span {
  font-size: 1.3rem;
}

/** The page container encompasses vertical sections 1 through 4 **/

div.page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

/** Section 1 **/

.section-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(220, 220, 220);
}

.subsection-1a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 60%;
  height: auto;
  margin: 0;
  padding: 2rem 1.5rem;
}

.subsection-1a img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.subsection-1b {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40%;
  height: auto;
  margin: 0;
  padding: 0;
}

.subsection-1b h1 {
  font-weight: 800;
  margin: 2rem 0;
  padding: 0;
  font-size: 3rem;
}

.subsection-1b h3 {
  margin: 2rem 0;
  padding: 0;
  font-size: 1.5rem;
}

.subsection-1b h5 {
  color: white;
  background-color: rgb(56,56,56);
  margin: 2rem 0;
  padding: .5rem 6rem;
  font-size: 1.1rem;
  font-weight: 300;
}

.subsection-1b h5 a:link, .subsection-1b h5 a:visited, .subsection-1b h5 a:active {
  color: white;
  text-decoration: none;
}

/** Section 2 **/

  /** Section 4 '.subsection-summary' is refactored into '.section-2' **/

.section-2, .subsection-summary {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

/** '.subsection-4a' (below) is equivalent is refactored into '.subsection-2a' **/

.subsection-2a, .subsection-4a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  max-width: 60%;
  margin: 0;
}

/** '.subsections-2a' and -4a require different padding **/

.subsection-2a {
  padding: 2rem 1.5rem;
}

.subsection-4a {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.subsection-2a img {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.subsection-2a h2 {
  font-size: 2.75rem;
  margin: 2rem 0 1.5rem 0;
  padding: 0;
}

.subsection-2a p {
font-size: 1.1rem;
line-height: 1.5;
padding: 0;
margin: 0;
}

.subsection-2a h5 {
  font-size: .9rem;
  padding: 0;
  margin: 2.3rem 0 0 0;
}

/** '.subsection-4b' is refactored into '.subsection-2b' **/

.subsection-2b, .subsection-4b {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 40%;
  margin: 0;
  padding: 1rem 0 0 0;
}

.ensemble {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 1rem;
}

#bottom.ensemble {
  background-color: rgb(220, 220, 220);
}

.ensemble img {
  width: 35%;
  height: auto;
  margin: 0 1rem 0 0;
  padding: 0;
}

img.mobile-2b {
  display: none;
}

/** With the exception of link tags this is identical to tags from .section-4b and distinguishable only by this note. **/

.ensemble.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 65%;
  height: auto;
  margin: 0;
  padding: 0;
}

.info h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: .5rem 0;
  padding: 0;
}

.info h6 {
  font-size: 1.1rem;
  font-weight: 300;
  margin: .5rem 0;
  padding: 0;
}

.info h6 a {
  font-size: 1rem;
  opacity: .8;
}

.info h6 a:link, .info h6 a:visited, .info h6 a:active  {
  color: rgb(0, 172, 230);
  text-decoration: none;
}

/** Section 3 **/

div.section-3-m {
  display: none;
}

/** '.section-4' refactored into '.section-3' **/

.section-3, .section-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

/** .section-3 has unique 'background-color' **/

.section-3 {
  background-color: rgb(220, 220, 220);
}

.section-3 h2, .section-4 h2 {
  font-size: 2.5rem;
  margin: 2rem 0 1rem 0;
  padding: 0;
}

.collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0 4.5rem 1rem 4.5rem;
}

.study-areas {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30%;
  height: auto;
  margin: 1rem;
  padding: 0;
  background-color: white;
}

.study-areas img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.study-areas h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 1rem;
  padding: 0;
}

.study-areas h4 {
  font-size: 1.4rem;
  font-weight: 200;
  margin: 0 0 0 1rem;
  padding: 0;
}

.study-areas h6 {
  font-size: 1.1rem;
  font-weight: 200;
  margin: .5rem 0 1.5rem 1rem;
  padding: 0;
}

/** Section 4 **/

/** .section-4, section-4 h2, refactored to section-3 **/

/** .subsection-summary refactored to .section-2 **/

/** .subsection-4a is refactored into .subsection-2a **/

/** .subsection-4a text is refactored into subsection-2a equivalent text **/

/** .subsection-4b is refactored into .subsection-2b **/

video.modern {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.subsection-4a h2 {
  font-size: 2.75rem;
  margin: 0 0 .5rem 0;
  padding: 0;
}

.subsection-4a p {
font-size: 1.1rem;
line-height: 1.5;
padding: 0;
margin: 0 0 2rem 0;
}

/** footer **/

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 1rem 1.5rem;
  font-size: .9rem;
  font-weight: 300;
  opacity: .85;
}

.terms a:link, .terms a:visited, .terms a:active {
  color: rgb(56,56,56);
  text-decoration: none;
}

/** Header media queries **/

@media only screen and (max-width: 700px) {

  header.pc {
    display: none;
  }

  header.mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  nav.mobile-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4rem;
    margin: 0;
    padding: 0;
  }

  .mobile-menu img {
    width: auto;
    height: 2rem;
  }

}

/** Section 1 media queries **/

@media only screen and (max-width: 700px) {
  .section-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(220, 220, 220);
  }

  .subsection-1a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .subsection-1b {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0m;
  }

  .subsection-1b h1 {
    font-weight: 800;
    margin: 2rem 0;
    padding: 0 1rem;
    font-size: 3rem;
  }

  .subsection-1b h3 {
    margin: 0 0 1.5rem 0;
    padding: 0 1rem;
    font-size: 1.5rem;
  }

  div.text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0 0 2rem 0;
    padding: 0;
  }

  .subsection-1b h5 {
    color: white;
    background-color: rgb(56,56,56);
    margin: 0;
    padding: .5rem 6rem;
    font-size: 1.1rem;
    font-weight: 300;
  }

}

/** Section 2 media queries **/

@media only screen and (max-width: 700px) {

  .subsection-2a {
    display: none;
  }

  img.pc-2b {
    display: none;
  }

  .section-2 {
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .subsection-2b {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 1rem 0 2rem 0;
  }

  .ensemble {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding:0 1rem;
  }

  #top.ensemble {
    margin: 0 0 2rem 0;
  }

  #middle.ensemble {
    margin: 0 0 2rem 0;
  }

  #bottom.ensemble {
    background-color: white;
  }

  img.mobile-2b {
    display: inline;
    width: 100%;
    height: auto;
    margin: 0 0 1rem 0;
    padding: 0;
  }

}

/** Section 3 media queries **/

@media only screen and (max-width: 700px) {

  div.section-3 {
    display: none;
  }

  div.section-3-m {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .section-3-m h2 {
    font-size: 2.5rem;
    margin: 2rem 0 .5rem 0;
    padding: 0;
  }

  .study-areas-m {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: auto;
    margin: .5rem 0;
    padding:0;
    background-color: rgb(220, 220, 220);
  }

  .study-areas-m h3 {
    width: 35rem;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0;
    padding: 1rem 0 1.5rem 1rem;
  }

  div.expander {
    width: 15px;
  }

}

/** Section 4 media queries **/

@media only screen and (max-width: 700px) {

  .subsection-4b {
    display: none;
  }

  .subsection-4a h2, .subsection-4a p {
    display: none;
  }

  .subsection-summary {
    margin: 0 0 1.5rem 0;
  }

  .subsection-4a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

}

/** Footer media queries **/

@media only screen and (max-width: 700px) {

  span.terms {
    display: none;
  }

  footer {
    display: flex;
    justify-content: flex-start;
  }

}
